@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');
header{
	display: flex; 
	justify-content: space-around;
	align-items: center;
}
.header-center li {
	display: inline-flex;
	justify-content: center;
	list-style: none;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: black; 
}

.menu_search{
	width: 25px;
	height: 27px;
	margin-right: 30px;
}
.social_img{
	width: 30px;
	height: 30px;
	margin-left: 30px;
}
.name{
	display: flex;
	flex-direction: column;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
}
.surname_name > li{
	margin-right: 50%;
	list-style: none;
	height: 90px;
	font-size: 120px;
	line-height: 144px;
	text-align: right;
}
.speciality > li{
	margin-left: 50%;
	list-style: none;
	height: 65px;
	font-size: 80px;
	line-height: 50px;
	color: rgba(0, 0, 0, 0.37);
}
.sign{
	margin-left: 25%;
	width: 280px;
	height: 140px;
	margin-top: -30px;
}
.rectangle{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 700px;
	left: 0px;
	top: 630px;
	background: #131313;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
}
.indent{
	width: 10%;
}
.left_block{
	width: 50%;
	margin-top: 20px;
}
.right_block{
	width: 60%;
}
.right_block > img{
	width: 100%;
	height: 100%;
}
.who > h1{
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
}
.wrap_t{
	list-style-position: inside;
	-moz-column-count: 3; /* Firefox */
	-webkit-column-count: 3; /* Safari and Chrome */
	column-count: 3;
	list-style-type: "- ";
	padding: 0;
	margin-top: 0;
}
.wrap_h{
	position: absolute;
	list-style-type: "- ";
	padding: 10px;
	margin-top: 0;
}
.indent_1{
	padding: 0;
	margin-top: 100px;
}
.wrap_s{
	list-style-type: "- ";
  	position: absolute;
  	padding: 10px;
  	margin-top: 0;
}
.hobbies{
	display: flex;
	justify-content: center;
	margin-top: 815px;
}
.hobbies > div{
	height: 150px;
}
.hobbies > div > h1{
	width: 257px;
	height: 140px;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 65px;
	color: #000000;
}
.hobbies > div > img{
	width: 187px;
	height: 187px;
	justify-content: flex-end;
}
.bike_foto{
	display: flex;
	margin-bottom: 20px;
}
.bike_foto > div > p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	align-items: center;
	text-align: justify;
	color: #000000;
}
.center_image{
	display: flex;
	justify-content: center;
	align-items: center;
}
.hobbies_foto{
	width: 60px;
	height: 56px;
}
.intend_1{
	width: 35%;
}
.intend_2{
	width: 10%;
}
body{
	margin: 0;
	padding: 0;
}
.rectangle_foto{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	background: rgba(196, 196, 196, 0.38);
}
.rectangle_foto > div > img{
	margin: 50px; 
	width: 250px;
	height: 350px;
	padding: 30px;
    background: white;
}
footer{
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: rgba(0, 0, 0, 0.61);
}
@media(max-width: 1200px){
	.rectangle_foto{
		flex-wrap: wrap;
	}
}
@media(max-width: 992px){
	.rectangle_foto{
		flex-wrap: wrap;
	}
	.right_block{
		display: none;
	}
	.left_block{
		width: 80%;
	}
	.indent{
		width: 5%;
	}
	.sign{
		margin-top: -20px;
	}
}
@media(max-width: 768px){
	.surname_name > li{
		height: 75px;
		font-size: 90px;
		line-height: 144px;
	}
	.speciality > li{
		height: 40px;
		font-size: 50px;
		line-height: 50px;
	}
	.sign{
		width: 200px;
		height: 100px;
		margin-top: -10px;
	}
	.rectangle{
		top: 500px;
		height: 720px;
	}
	.indent_1{
		margin-top: 120px;
	}
	.hobbies{
		margin-top: 800px;
	}
	.bike_foto{
		flex-direction: column;
	}
	.bike_foto > div > p{
		margin-left: 10%;
		margin-right: 10%;
	}
	.hobbies_foto{
		margin-top: 25px;
	}
	header > div{
		margin-top: 10px;
	}
	/*header*/
}
@media(max-width: 576px){
	.header-center li {
		display: none;
	}
	.surname_name > li{
		height: 50px;
		font-size: 60px;
		line-height: 144px;
	}
	.speciality > li{
		height: 25px;
		font-size: 30px;
		line-height: 50px;
	}
	.sign{
		width: 100px;
		height: 50px;
		margin-top: 10px;
	}
	.rectangle{
		top: 350px;
		height: 650px;
		font-size: 10px;
		line-height: 15px;
	}
	.wrap_t{
		-moz-column-count: 2; /* Firefox */
		-webkit-column-count: 2; /* Safari and Chrome */
		column-count: 2;
	}
	.indent_1{
		margin-top: 110px;
	}
	.hobbies{
		margin-top: 900px;
	}
	.hobbies > div > h1{
		width: 130px;
		height: 100px;
		font-size: 30px;
		line-height: 65px;

	}
	.hobbies > div > img{
		width: 130px;
		height: 100px;
	}
	




	/*
	.indent_1{
		margin-top: 120px;
	}
	.hobbies{
		margin-top: 800px;
	}
	.intend_2{
		width: 20%;
	}
	.bike_foto{
		flex-direction: column;
	}
	.bike_foto > div > p{
		margin-left: 10%;
		margin-right: 10%;
	}
	.hobbies_foto{
		margin-top: 25px;
	}
	*/
}